{% block sidebar %}
<aside class="col-md-4 blog-sidebar">
    <div class="p-3">
        <form action="{{ paths.search }}" method="get">
            <label for="search">Search for an article</label>
            <input type="text" name="q" id="search" class="form-control" placeholder="Search...">
        </form>
    </div>
    
    <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">{{ site.description }}</p>
    </div>
</aside><!-- /.blog-sidebar -->
{% endblock %}