.idea
node_modules
package-lock.json

###> symfony/framework-bundle ###
/.env
/public/bundles/
public/themes/*/assets
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-pack ###
public/themes/*/assets
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
