{
    "general": {
        "name": "DaimyoCMS",
        "description": "CMS based on the micro PHP framework Daimyo.",
        "tags": "daimyo, cms, php",
        "thumbnail": ""
    },
    "dbDns": {
        "host": "localhost",
        "dbname": "daimyocms",
        "user": "root",
        "pass": "",
        "charset": "utf8"
    },
    "paths": {
        "home": "",
        "about": "about",
        "contact": "contact",
        "search": "search",
        "categories": "categories",
        "user": "user\/([a-z0-9_-]+)",
        "category": "category\/([a-zA-Z0-9_-]+)",
        "article": "article\/([a-z0-9_-]+)",
        "content": "content",
        "themes": "content\/themes",
        "uploads": "content\/uploads",
        "admin": "manager"
    }
}
