; main configuration file

[general]
site_name = "DaimyoCMS"
description = "My new CMS!"
tags = ""
thumbnail = ""

[framework]
path = ""
URL = "http://www.example.com/"
private_key = ""

; database config file

[dbDns]
host = "127.0.0.1"
dbname = "daimyocms"
user = "root"
pass = ""
charset = "utf8"

[paths]
; Routes
home = "/"
blog = "/blog"
about = "/about"
contact = "/contact"
search = "/search"
; Components
categories = "/categories"
user = "/user/([a-z0-9_-]+)"
category = "/category/([a-z0-9_-]+)"
article = "/article/([a-z0-9_-]+)"
; Folders
content = "/content"
themes = "/content/themes"
uploads = "/content/uploads"
; Admin panel
admin = "/admin"
