{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
          <div class="box box-primary">
            <!-- form start -->
            <form role="form" method="post" action="">
              <div class="box-body">
                <div class="form-group">
                  <label for="sitename">Nom du site</label>
                  <input type="text" name="sitename" class="form-control" id="sitename" placeholder="Votre adresse email">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" placeholder="Description de votre site"></textarea>
                </div>
                <div class="form-group">
                  <label for="tags">Tags</label>
                  <input type="text" class="form-control" name="tags" id="tags" placeholder="Entrez des tags séparés par des virgules">
                </div>
                <div class="form-group">
                  <label for="domain">Nom de domaine</label>
                  <input type="text" class="form-control" name="domain" id="domain" placeholder="Entrez le nom de domain de votre site">
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Enregistrer la configuration</button>
              </div>
            </form>
        </div>
</div>
{% endblock %}