{% extends 'admin/layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
          <div class="box box-primary">
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="" method="post">
              <div class="box-body">
                <div class="form-group">
                  <label for="InputFile1">Cover picture</label>
                  <input type="file" id="InputFile1">

                  <p class="help-block">Choisissez une image au format .jpg ou .png d'une taille maximale de 10Mo.</p>
                </div>
                <div class="form-group">
                  <label for="InputText1">Title</label>
                  <input type="text" class="form-control" id="InputText1" placeholder="What is it about ?">
                </div>
                <div class="form-group">
                  <label for="InputText1">Content</label>
                    <textarea class="form-control" id="InputText1" placeholder="Tell us something" rows="6"></textarea>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Publish an article</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
</div>
{% endblock %}