<html>
<head>
    <meta charset="UTF-8">
    <title>{{ site.name }} - {{ title }}</title>
    <link rel="stylesheet" href="{{ paths.themes }}/admin-theme/assets/css/style.css">
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>