{% extends '@admin/base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>src/Controller/AdminController.php</code></li>
        <li>Your template at <code>templates/admin/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
