{% extends "layout.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
    	<div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">Oups!</h2>

            <p>Sorry, we couldn't find this page</p>
          </div>
  		</div>
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}